.card {
  background-color: #121212;
}

.innercard {
  border-radius: 16px 16px 0px 0px;
}

.cardtext {
  background-color: #121212;
  color: #ffff;
  padding: 0rem 1.2rem 1.2rem 1.2rem;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.maincard {
  margin: 0.5rem;
}

.cardbutton {
  background-color: black;
  color: #ffff;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
}
