.heroimage {
  height: 270px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
